<%- include("partials/header") -%>

<% posts.forEach(function(post){ %>
<div>
    <div class="container-fluid card">
        <h1><%= post.title %></h1>
        
        <div class="row">
          <div class="col">
            <img src="https://www.freepik.com/free-photo/product-design-drawing-website-graphic_12189388.htm#page=1&query=website&position=5" class="rounded float" alt="Blog Image" href="https://www.freepik.com/free-photo/product-design-drawing-website-graphic_12189388.htm#page=1&query=website&position=5">
          </div>
          <div class="col">
            <p><%= post.content.substring(0,100) + "..." %></p>
            
            <button class="visit">View Blog</button>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button class="like" onclick="like()">
              like
              <!-- <i class="fa fa-heart" aria-hidden="true"></i> -->
            </script>
            </button>
            
          </div>
        </div>
      </div>
</div>
<% }) ;%>



<%- include("partials/footer") -%>