<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Web For You</title>
  <meta charset="utf-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
</head>  

  <body>
    <div class="container-fluid">
            <form class="" action="/signup" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label>First Name</label>
                    <input class="form-control" type="text" name="firstName" placeholder="First Name">
                    <label >Last Name</label>
                    <input class="form-control" type="text" name="lastName" placeholder="Last Name">
                    <label>Email</label>
                    <input class="form-control" type="email" name="signup_email" placeholder="Email">
                    <label>Password</label>
                    <input class="form-control" type="password" name ="password" placeholder="Password">
                </div>
                <button class="btn btn-primary" type="submit" name="signup_btn">Sign Up</button>
            </form>
            <form action="/google" method="get">
              <button class="btn btn-primary" type="submit" name="google_signup">Google</button>
            </form>
    </div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Web For You</p>
  </div>
</div>
<script src="/js/index.js" defer></script>
</body>
</html>
